<div class="main_note">
    <div class="category_note">
        <div class="main_headline hidden-xs"><img src="./images/welcome_text_web.png" alt="מכונת הסטנדאפ של שחר חסון" /></div>
        <div class="main_headline visible-xs"><img src="./images/title_welcome_text_mobile.png" alt="מכונת הסטנדאפ של שחר חסון" /></div>
        <ul class="excuse_list">
            <li ng-repeat="category in main.categories" ng-click="goToCategory(category.categoryName)">
            <img class="hidden-xs" src="./images/go_to_btn.png" alt="מכונת הסטנדאפ של שחר חסון" />
            <img class="visible-xs" src="./images/go_to_btn_mobile.png" alt="מכונת הסטנדאפ של שחר חסון" />
            </li>
        </ul>       
    </div>
    <div class="elisha_mobile visible-xs visible-sm"><img src="./images/ShaharH_mobile.png" alt="סופשלי" /></div>
</div>


