<div class="inner">
    <div class="scratch_title">
        <img class="hidden-xs" src="./images/title_scratch_web.png" />
        <img class="visible-xs" src="./images/title_scratch_mobile.png" />
    </div>
    <div class="excuse_title">
        <img class="hidden-xs" src="./images/title_done_web.png" />
        <img class="visible-xs" src="./images/title_done_mobile.png" />
    </div>
    <div id="scratchcard" style="background-size: 87%;background-position: top center;"></div>
    <div id="buttons">
        <div class="social whatsapp left"><a class="whatsapp_link" ng-click="whatsappShare()" analytics-category="Sofshely" analytics-on="ClickShare" analytics-event="Whatsapp" analytics-label="{{analyticsObj}}" class="popup"><img src="./images/whatsapp_icon.png" /></a></div>
        <div class="social mail left"><a ng-click="mailShare()" class="mail_link" analytics-category="Sofshely" analytics-on="ClickShare" analytics-event="Mail" analytics-label="{{analyticsObj}}" title="Share by Email"><img src="./images/email_icon.png" /></a></div>
        <div class="social facebook left"><a class="facebook_link" ng-click="facebookShare()" analytics-category="Sofshely" analytics-on="ClickShare" analytics-event="Facebook" analytics-label="{{analyticsObj}}" target="_blank"><img src="./images/fb_icon.png" /></a></div>
        <div class="social download left"><a class="download_link" ng-click="download()" analytics-on target="_self" download="sofshely.png"><img src="./images/download_icon.png" /></a></div>
        <div class="back right"><img ng-click="backToMain()" src="./images/tryagain_btn.png" /></div>
    </div>
</div>
<div class="elisha_mobile visible-xs visible-sm"><img src="./images/ShaharH_mobile.png" alt="סופשלי" /></div>